In [66]:
import pandas as pd
data = 'national park/national_parks.csv'
df = pd.read_csv(data)

In [67]:
df.dropna(how='all',inplace=True)
df['National Parks'] = df['National Parks'].fillna(method='ffill')

In [68]:
df.drop(u'Unnamed: 14',axis=1, inplace=True)

In [69]:
clean_df = pd.melt(df,id_vars=['National Parks','Year'],var_name='month', value_name='visits')

In [70]:
clean_df.Year = clean_df.Year.apply(lambda x: x.replace(',',''))

In [71]:
clean_df.visits = clean_df.visits.apply(lambda x: x.replace(',','') if type(x)==str else x)

In [72]:
', '.join(clean_df.month.value_counts().index.tolist())

'April, May, October, November, June, August, Feb, December, September, July, March, Jan'

In [73]:
standardized_month = {
    'Jan':'01', 'Feb':'02', 'March':'03', 'April':'04', 'May':'05', 'June':'06', 'July':'07', 'August':'08',
    'September':'09', 'October':'10', 'November':'11', 'December':'12'
}
clean_df.month = clean_df.month.apply(lambda x: standardized_month[x])

In [74]:
clean_df['ym'] = clean_df.apply(lambda x: '%s_%s' % (x.Year, x.month),axis=1)

In [80]:
clean_df[(clean_df.Year=='2016')&(clean_df.month=='12')].visits.apply(lambda x: math.isnan(x))

NameError: global name 'math' is not defined

In [64]:
clean_df.dropna(inplace=True)

In [65]:
clean_df.to_csv('national park/national_park_statistics.csv')