In [30]:
import pandas as pd
import math
data = '../data/place_np_statisic_raw.csv'
df = pd.read_csv(data)

In [32]:
df.dropna(how='all',inplace=True)
df['place'] = df['place'].fillna(method='ffill')

In [33]:
df.drop(u'Unnamed: 14',axis=1, inplace=True)

In [34]:
clean_df = pd.melt(df,id_vars=['place','Year'],var_name='month', value_name='gt_visit')

In [35]:
clean_df.Year = clean_df.Year.apply(lambda x: x.replace(',',''))

In [38]:
clean_df.gt_visit = clean_df.gt_visit.apply(lambda x: x.replace(',','') if type(x)==str else x)

In [18]:
', '.join(clean_df.month.value_counts().index.tolist())

'April, May, October, November, June, August, Feb, December, September, July, March, Jan'

In [19]:
standardized_month = {
    'Jan':'01', 'Feb':'02', 'March':'03', 'April':'04', 'May':'05', 'June':'06', 'July':'07', 'August':'08',
    'September':'09', 'October':'10', 'November':'11', 'December':'12'
}
clean_df.month = clean_df.month.apply(lambda x: standardized_month[x])

In [20]:
clean_df['ym'] = clean_df.apply(lambda x: '%s_%s' % (x.Year, x.month),axis=1)

In [21]:
clean_df[(clean_df.Year=='2016')&(clean_df.month=='12')].visits.apply(lambda x: math.isnan(x))

3839    True
3843    True
3847    True
3851    True
3855    True
3859    True
3863    True
3867    True
3871    True
3875    True
3879    True
3883    True
3887    True
3891    True
3895    True
3899    True
3903    True
3907    True
3911    True
3915    True
3919    True
3923    True
3927    True
3931    True
3935    True
3939    True
3943    True
3947    True
3951    True
3955    True
        ...
4067    True
4071    True
4075    True
4079    True
4083    True
4087    True
4091    True
4095    True
4099    True
4103    True
4107    True
4111    True
4115    True
4119    True
4123    True
4127    True
4131    True
4136    True
4140    True
4144    True
4148    True
4152    True
4156    True
4160    True
4164    True
4168    True
4172    True
4176    True
4180    True
4184    True
Name: visits, dtype: bool

In [22]:
clean_df.dropna(inplace=True)

In [24]:
clean_df.place

AttributeError: 'DataFrame' object has no attribute 'place'

In [23]:
clean_df.to_csv('../data/place_np_statisic_clean.csv')